[submodule "3rdparty/xerces-c"]
	path = 3rdparty/xerces-c
	url = https://github.com/apache/xerces-c.git
[submodule "3rdparty/libcitygml"]
	path = 3rdparty/libcitygml
	url = https://github.com/Synesthesias/libcitygml.git
