*.a filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
data/日本語パステスト/udx/bldg/52385618_bldg_6697_op.gml filter=lfs diff=lfs merge=lfs -text