[submodule "3rdparty/xerces-c"]
	path = 3rdparty/xerces-c
	url = https://github.com/apache/xerces-c.git
[submodule "3rdparty/libcitygml"]
	path = 3rdparty/libcitygml
	url = https://github.com/Synesthesias/libcitygml.git
[submodule "wrappers/python/pybind11"]
	path = wrappers/python/pybind11
	url = https://github.com/pybind/pybind11.git
