[submodule "3rdparty/xerces-c"]
	path = 3rdparty/xerces-c
	url = https://github.com/Synesthesias/xerces-c.git
[submodule "3rdparty/libcitygml"]
	path = 3rdparty/libcitygml
	url = https://github.com/Synesthesias/libcitygml.git
[submodule "wrappers/python/pybind11"]
	path = wrappers/python/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "test/gtest"]
	path = test/gtest
	url = https://github.com/google/googletest
[submodule "3rdparty/glTF-SDK/glTF-SDK"]
	path = 3rdparty/glTF-SDK/glTF-SDK
	url = https://github.com/microsoft/glTF-SDK
[submodule "3rdparty/openssl-cmake"]
	path = 3rdparty/openssl-cmake
	url = https://github.com/janbar/openssl-cmake
[submodule "3rdparty/cpp-httplib"]
	path = 3rdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib
[submodule "3rdparty/libxml2"]
	path = 3rdparty/libxml2
	url = https://github.com/GNOME/libxml2
[submodule "3rdparty/libpng"]
	path = 3rdparty/libpng
	url = https://github.com/glennrp/libpng
[submodule "3rdparty/libtiff"]
	path = 3rdparty/libtiff
	url = https://github.com/libsdl-org/libtiff
[submodule "3rdparty/openmesh"]
	path = 3rdparty/openmesh
	url = git@github.com:Lawrencemm/openmesh.git
