
# fbx_sdk は再配布禁止のため、ご自分で用意していただく形になります。
/3rdparty/fbx_sdk/

# licensed ツールのキャッシュフォルダです。
.licenses/*

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Output
/out
obj
bin

# Visual Studio
.vs

# Resharper User config
*.DotSettings.user

# Test data
